*{
    margin:0;
    padding:0;
    font-family:sans-serif
}
.container{
    height: 100vh;
    width: 100%;
    position: relative;
    background:   #232855;

}
.navbar{
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}
nav ul li{
    list-style:none;
    display:inline-block;
    margin-right: 30px;




}
nav ul li a{
    text-decoration: none;
color: rgb(223, 230, 233);
font-size: 16px;
    padding:5px  2px;
    

}
nav ul li a:hover{
    color:#e4dce2;
    border-bottom: 3px solid #eea16d;

}
.content-row{
    width:85%;
    display: flex;
    align-items: center;
    margin: auto;
    
}
.right-col img{
    width: 100%;
    height: 50%;

}
.text-wrapper{
    width:100%;
    position: relative;
    margin-top: -40%;

}
.text-wrapper h1{
    text-align:left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #eea16d;
    font-size: 5vw;
}
